<ion-view view-title="">
    <ion-content>

        <div class="div95">

            <div class="projectInput">
                <input type="text" ng-model="building.name" placeholder="שם הבניין">
            </div>

            <div class="projectInput">
                <input type="number" ng-model="building.apartments_quantity" placeholder="מספר דירות">
            </div>

            <div class="blueButton" ng-click="saveBuilding()">שמור</div>

            <div class="blueButton" ng-show="building.id" ng-click="deleteBuilding(building)">מחק את הבניין</div>

            <div class="blueButton" ng-show="building.id" ng-click="addUser()">הוסף איש קשר</div>

            <div ng-repeat="person in building.connections" ng-if="person.role != 'builder'">

                <div class="row100">

                    <div class="connectionsName">{{person.name}}</div>
                    <div class="connectionsStatus">{{person.phone}}</div>
                    <div class="connectionsButton"><i class="icon ion-close-circled" style="font-size: 30px;" ng-click="deleteConnection(person.id)"></i></div>

                </div>

                <div class="rowSeparator"></div>

            </div>

        </div>

  </ion-content>
</ion-view>