<ion-view view-title="בניינים">
    <ion-nav-buttons side="left">
        <img src="main/assets/images/plus.png" height="20" ng-if="role == 'builder'" style="margin: 5px 0 0 5px" ui-sref="main.projects.project.buildings.create">
    </ion-nav-buttons>
    <ion-content>

        <div style="width:100%; height: 220px;" ng-show="project.files.length">
            <ion-slides options="options" slider="data.slider" style="width:100%; height: 100%;">
                <ion-slide-page ng-repeat="file in project.files">
                    <div style="position: relative; overflow: hidden">
                        <img ng-src="{{file.url}}" style="width: 100%; height:100%;">
                        <div class="projectsBlueBar" ng-if="project.status == 0">בביצוע</div>
                        <div class="projectsBlueBar" ng-if="project.status == 1">בתכנון</div>
                        <div class="projectsBlueBar" ng-if="project.status == 2">בשיווק</div>
                        <div class="projectsBlueBar" ng-if="project.status == 3">טופס ארבע</div>
                    </div>
                </ion-slide-page>
            </ion-slides>
        </div>

        <div ng-repeat="building in buildings">

            <div class="row100">
                <div class="whiteRowRight" ui-sref="main.buildings.building.apartments({building_id: building.id})">
                    {{building.name}}
                </div>
                <div class="whiteRowLeft" ui-sref="main.buildings.building({building_id: building.id})" ng-show="role == 'builder'">
                    <img src="main/assets/images/settings.png" height="25">
                </div>
            </div>

            <div class="rowSeparator"></div>

        </div>

    </ion-content>
</ion-view>