<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar align-title="center" class="bar-stable">

            <ion-nav-buttons side="right">
                <i ng-if="enableBack == true" ng-click="goBack()" class="icon ion-chevron-right" style="font-size: 25px; padding-top: 5px; padding-right: 5px; color: #3d3d3d;"></i>
                <button ng-if="enableMenu == true" class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="content"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="right">
        <ion-header-bar class="bar-stable">
            <h1 class="title">תפריט</h1>
        </ion-header-bar>
        <ion-content class="rtl">
            <ion-list>

                <ion-item menu-close ng-click="redirectUser()" href="" ng-if="role == 'tenant'">ראשי</ion-item>

                <ion-item menu-close ui-sref="main.projects" ui-sref-opts="{reload: true}" ng-if="role != 'tenant'">ראשי</ion-item>

                <ion-item menu-close ui-sref="main.user" ui-sref-opts="{reload: true}">פרופיל אישי</ion-item>

                <ion-item menu-close href="" ng-click="logout()">התנתקות</ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>