<ion-view view-title="דף מפרט">
    <ion-content class="padding-top">

        <div ng-repeat="category in apartment.product_categories" ng-click="showProductsModal(category.id)">

            <div class="step3category">
                <div><img ng-src="{{category.files[0].url}}" style="width: 100%; height: 100px;"></div>
                <div>{{category.title}}</div>
            </div>

        </div>

    </ion-content>
</ion-view>
