<ion-view view-title="דף פיקוח">
    <ion-content class="has-footer">

        <div class="div95">

            <div class="row100" style="border: 1px solid #49A3D5; border-radius: 5px !important;">
                <a class="defectsHeaderButton" ng-class="{defectsHeaderActive: tab == 0}" ng-click="tab = 0">בטיפול</a>
                <a class="defectsHeaderButton" ng-class="{defectsHeaderActive: tab == 1}" ng-click="tab = 1">בוצע</a>
            </div>

        </div>

        <div class="row100 centering">
            <div class="defectsRow50" ng-click="sortBy('defect_category_id')"><i class="icon ion-arrow-down-b"></i> קטגוריה </div>
            <div class="defectsRow20">סטטוס</div>
            <div class="defectsRow30" ng-click="sortBy('formatted_created_at')"><i class="icon ion-arrow-down-b"></i> תאריך </div>
        </div>

        <div ng-repeat="defect in apartment.defects">

            <div ng-show="tab == 0 && defect.closed == 0" class="row100">

                <div class="defectsCategory"  ui-sref="main.buildings.building.apartments.apartment.defects.defect({building: apartment.building_id, apartment_id: apartment.id, defect_id: defect.id})">
                    <div>{{defect.defect_category.title}}</div>
                    <div>{{defect.description}}</div>
                </div>
                <div class="defectsStatus" ng-click="updateStatus(defect, 1)"><span class="defectsStatusName">בטיפול</span></div>
                <div class="defectsDate">{{ defect.formatted_created_at | date:'dd.MM.yyyy'}}</div>

            </div>

            <div class="rowSeparator" ng-if="tab == 0 && defect.closed == 0"></div>

            <div ng-show="tab == 1 && defect.closed == 1" class="row100">

                <div class="defectsCategory" ui-sref="main.buildings.building.apartments.apartment.defects.defect({building: apartment.building_id, apartment_id: apartment.id, defect_id: defect.id})">
                    <div>{{defect.defect_category.title}}</div>
                    <div>{{defect.description}}</div>
                </div>
                <div class="defectsStatus" ng-click="updateStatus(defect, 0)"><span class="defectsStatusNameOutline">בוצע</span></div>
                <div class="defectsDate">{{defect.formatted_created_at | date:'dd.MM.yyyy'}}</div>

            </div>

            <div class="rowSeparator" ng-if="tab == 1 && defect.closed == 1"></div>

        </div>

    </ion-content>
    <ion-footer-bar style="background-size: 0;" class="cleanFooter">
        <div class="defectsButton" ui-sref="main.buildings.building.apartments.apartment.defects.create({building: apartment.building_id, apartment_id: apartment.id})"> דיווח על תקלה <i class="icon ion-alert-circled" style="font-size: 17px; color: white;"></i></div>
    </ion-footer-bar>
</ion-view>
