<ion-view view-title="פרויקט {{project.name}}">
    <ion-content>

        <div class="div95">

            <div class="projectInput">
                <input type="text" ng-model="project.name" placeholder="שם הפרויקט">
            </div>

            <div class="projectInput">
                <input type="text" g-places-autocomplete options="autocompleteOptions" ng-model="project.address" placeholder="כתובת הפרויקט">
            </div>

            <div class="projectInput">
                <textarea ng-model="project.description" rows='5' ng-bind-html="project.description" placeholder="תיאור הפרויקט"></textarea>
            </div>

            <div class="projectInput">
                <input type="number" ng-model="project.buildings_quantity" ng-disabled="true" placeholder="מספר בניינים">
            </div>

            <div ng-repeat="n in [].constructor(project.buildings_quantity) track by $index" ng-show="project.buildings_quantity > 0">

                <div class="row100 rtl">
                    <div> מספר בניין: {{$index + 1}}</div>
                </div>

                <div class="projectInput">
                    <input type="text" ng-disabled="true" ng-model="project.buildings[$index].name" placeholder="שם בניין">
                </div>

                <div class="projectInput">
                    <input type="number" ng-disabled="true" min="1" ng-model="project.buildings[$index].apartments_quantity" placeholder="מספר דירות">
                </div>

            </div>

            <div class="projectInput">
                <select ng-model="project.status">
                    <option value="">בחירת סטטוס הפרויקט</option>
                    <option value="0">בביצוע</option>
                    <option value="1">בתכנון</option>
                    <option value="2">בשיווק</option>
                    <option value="3">טופס ארבע</option>
                </select>
            </div>

            <div class="row100" style="margin: 10px 0;">

                <div ng-repeat="file in project.files" ng-show="project.files.length > 0">
                    <div class="projectImage">
                        <img ng-src="{{file.url}}" style="width: 100%;">
                        <i class="icon ion-close-circled" style="position: absolute; top: 5px; left: 10px; font-size: 25px; color: white;" ng-click="deleteImage(file)"></i>
                    </div>
                </div>

                <div ng-repeat="image in localImages">
                    <div class="projectImage">
                        <img ng-src="{{image.url}}" style="width: 100%;">
                    </div>
                </div>

                <div class="projectNewImage" data-choose-picture pictures="localImages">+</div>

            </div>

            <div class="blueButton" style="clear: both;" ng-click="saveProject()">שמור</div>

            <div class="blueButton" ng-click="deleteProject()">מחק את הפרויקט</div>

            <div class="blueButton" ng-click="addUser()">הוסף איש קשר</div>

            <div ng-repeat="person in project.connections" ng-if="person.role != 'builder'">

                <div class="row100">

                    <div class="connectionsName">{{person.name}}</div>
                    <div class="connectionsStatus">{{person.phone}}</div>
                    <div class="connectionsButton"><i class="icon ion-close-circled" style="font-size: 30px;" ng-click="deleteConnection(person.id)"></i></div>

                </div>

                <div class="rowSeparator"></div>

            </div>

        </div>

    </ion-content>
</ion-view>