<ion-view view-title="">
    <ion-content>

        <div ng-repeat="apartment in tenant_apartments">

            <div class="row100 rtl" style="color: #3d3d3d; padding: 20px; font-size: 20px;" ui-sref="main.buildings.building.apartments.apartment({building_id : apartment.apartment.building.id, apartment_id : apartment.apartment.id})">
                <span>דירה מספר</span>
                {{apartment.apartment.internal_id}}
                <span>בבניין</span>
                {{apartment.apartment.building.name}}
            </div>

            <div class="rowSeparator"></div>

        </div>

    </ion-content>
</ion-view>
