<ion-modal-view>
    <ion-header-bar style="color: #3d3d3d;">
        <i class="icon ion-close-circled" ng-click="closeProductsModal()" style="font-size: 200%;"></i>
        <div class="title">{{product_category.title}}</div>
    </ion-header-bar>
    <ion-content>

        <div class="div95">

            <div ng-repeat="product in apartment.products">

                <div ng-if="product.id && product.product_category_id == product_category.id">

                    <div class="row100">

                        <div class="step3modalRight">
                            <div class="step3modalSquare" ng-hide="product.files[0].url">אין קובץ</div>
                            <div style="width: 100%; text-align: center; padding-left: 5px; padding-top: 5px;" ng-show="product.files[0].url"><img ng-src="{{product.files[0].url}}" height="112"></div>
                        </div>

                        <div class="step3modalLeft">

                            <div class="step3fakeInput">{{product.title}}</div>

                            <div class="step3fakeInput">{{product.provider}}</div>

                            <div class="step3fakeInput">{{product.refund}}</div>

                        </div>

                    </div>

                    <div class="step3fakeTextarea">
                        {{product.description}}
                    </div>

                </div>

                <div class="rowWhiteSeparator"></div>

            </div>

        </div>

    </ion-content>
</ion-modal-view>