<ion-view view-title="">
    <ion-content>

        <div class="div95">
            <div class="blueButton" ng-show="role == 'builder'" ng-click="addUser()">הוסף איש קשר</div>
        </div>

        <div ng-repeat="person in apartment.connections" ng-if="person.role != 'builder'">

            <div class="row100">

                <div class="connectionsName">{{person.name}}</div>
                <div class="connectionsStatus">{{person.phone}}</div>
                <div class="connectionsButton"><i class="icon ion-close-circled" style="font-size: 30px;" ng-click="deleteConnection(person.id)"></i></div>

            </div>

            <div class="rowSeparator"></div>

        </div>

    </ion-content>
</ion-view>
