<ion-view view-title="דף התוכניות">
    <ion-content>

        <div class="div95">

            <div ng-repeat="plan in apartment.plans">

                <div class="row100" ng-click="openPlan(plan.files[0].url)">

                    <div class="plans30"><i class="icon ion-document-text" style="font-size: 40px;"></i></div>

                    <div class="plans50">{{plan.plan_category.title}}</div>

                    <div class="plans20" ng-click="sharePlan(plan.files[0].url); $event.stopPropagation();"><i class="icon ion-android-share-alt" style="font-size: 30px;"></i></div>
                </div>

                <div class="rowWhiteSeparator"></div>

            </div>

        </div>

    </ion-content>
</ion-view>
